<form action="/postbackdemo/ex01" method="post">

    <button name="b1" value=" Accept"> Accept</button>
    <button name="b1" value=" Reject"> Reject</button>

</form> <hr />
@ViewBag.msg <br />
             <a  asp-controller="postbackdemo" asp-action="index"> back to index</a>