<form action="/postbackdemo/ex02" method="post">

    Enter Name:
    <input type="text" name="t1" value="" /> 
    <br />
    <button>Submit</button>
    <hr />
</form>
@ViewBag.msg
<br />
<a asp-controller="postbackdemo" asp-action="index"> back to index</a>