<h1>Passing data from controller to view demo</h1>
<p>View data and view bag are commonly used to pass data from controller (application logic ) to view(presentation logic)</p>
 our Trainer is:@ViewData["name"].ToString(); <br />
He teaches us:@ViewData["technology"].ToString();
<br />

goto:

<a asp-controller="passingdatademocontroller" asp-action="ex01">ex01</a>